
.container{ 
    display: flex;
    flex-direction: column;
    max-width: 1067px;
    width: 100%;
    margin: 0 auto;
}

.titleBox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f2;
  
      h2 {
          font-size: 18px;
      }
  
      span {
          padding: 0 20px;
      }
  }
  
  .coffeeContents {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-bottom: 40px;
  
   
  }
  